.meses-form{
    display: flex;
    flex-wrap: wrap;           /* se adapta a la ventana */
    justify-content: center;   /* centrado */
    gap: 10px;                 /* separaci칩n entre botones */
    padding: 12px;
    }

.descripcion{
  max-width: 1300px;
  margin: 15px auto 25px auto;
  padding: 15px 18px;
  background: #f8f9fa;
  border-left: 6px solid #198754; /* verde bootstrap */
  border-radius: 10px;
}
.descripcion h3{
  margin: 0 0 8px 0;
}
.descripcion p{
  margin: 0;
}
.descripcion p{
    text-align: center;
}
.coach-form{
    display: flex;
    flex-wrap: wrap;           /* se adapta a la ventana */
    justify-content: center;   /* centrado */
    gap: 10px;                 /* separaci칩n entre botones */
    padding: 50px;
    }

<<<<<<< HEAD
.titulo-principal {
  max-width: 1200px;
            margin: 15 auto 25px auto;
            padding: 15px 18px;
            background: #f8f9fa;
            border-left: 6px solid#198754;
            border-radius: 10px;
            justify-content: center;
}

.titulo-secundario {
    color: rgb(18, 18, 101);
    display: flex;
    justify-content: center;
}

.colocacionenlace {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.dise침oboton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    background-color: beige;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(56, 188, 91);
    text-decoration: none;
    border-radius: 10px;
    
    
        }

        .imagen-centro {
  display: block;
  margin: 50px auto;
  width: 70px;
        }

.texto {max-width: 1200px;
        margin: 15 auto 25px auto;
        padding: 15px 18px;
        background: #f8f9fa;
        border-left: 6px solid#198754;
        border-radius: 10px;
        justify-content: center;
        }
=======
.coaches{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.coach{
  display: flex;
  flex-direction: column; /* imagen arriba, bot칩n abajo */
  align-items: center;
  gap: 10px;
}

.coach-foto{
  width: 100px;
  height: 100px;
  border-radius: 70%;     /* redonda */
  object-fit: cover;      /* recorta sin deformar */
  border: 3px solid #198754; /* verde bootstrap */
}
>>>>>>> 354d8074eb0aae57d3a238a3780132a9a6b64e98
